data/raw/
data/uploads/
data/processed/
data/results/
mlflow.db
mlflow.db-*
mlruns/
mlartifacts/
logs/
serving_app/models/*.keras
serving_app/models/*.pkl
.venv/
__pycache__/
*.py[cod]
.DS_Store
.env
*.pdf
